@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Black.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Black.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-BlackIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-BlackIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-BoldIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-BoldIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-It.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-It.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-LightIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-LightIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Bold.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Bold.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Light.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Light.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-ExtraLightIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-ExtraLightIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-ExtraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-ExtraLight.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-SemiboldIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-SemiboldIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Regular.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Regular.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Semibold.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Semibold.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* SUBPAGE STYLING */

#headingbox {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 90vw;
    
    margin: 7vh 5vw 0 5vw;
    border: 0;
    padding: 0;
}

#headingbox > #headingtop{
    display: block;

    width: inherit;
    height: 11vh;
}

#headingbox > #headingtop > #handle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    width: 1vw;
    height:inherit;

    border-radius: 20px;

    background-color: #A51516;
}

/* if the data category is empty, don't display */
#headingbox > #headingtop > #name > li.null {
    display: none;
}

/* don't display field name */
#headingbox > #headingtop > #name > li > span.field {
    display: none;
}

#headingbox > #headingtop > #name > li.name_original {
    display: none;
}

#headingbox > #headingtop > #name {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    position: relative;
    box-sizing: border-box;
    left: 3vw;
    top: 2.5vh;

    max-width: 45vw;

    margin: 0;
    border: 0;
    padding: 0;

    font-family: "Libre Baskerville", serif;
    font-size: 250%;
    font-variant: normal;
    font-weight: normal;
    
    white-space: nowrap;
    position: relative;
    z-index: 1; /* Ensure the name is in front of other elements */
}

#headingbox > #headingtop > #name > li {
    display: flex;
    align-items: flex-start;
    gap: 0.5vw;
}

#headingbox > #headingtop > #name .original_popup .popup_info {
    top: -120%;
    left: 200%;

    height: 1em;

    text-transform: lowercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 40%; 
}

#headingbox > #headingtop > #status{
    display: inline-block;
    list-style-type: none;
    position: relative;
    left: 20vw;
    top: 1.5vh;
    box-sizing: border-box;
    text-align: left;

    width: fit-content;

    margin: 0;
    border: 0;
    padding: 7px 18px;

    background-color: #f1eeee;

    text-transform: lowercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}
#headingbox > #headingtop > #status > li > span.value::after{
    content: " person"
}

#headingbox > #headingtop > #contributor {
    display: inline-block;
    list-style-type: none;
    box-sizing: border-box;
    position: absolute;
    right: 1vw;
    top: 1.5vh;
    text-align: right;

    font-family: "Source Sans Pro", sans-serif;
}

#headingbox > #headingtop > #contributor > li > span.field {
    display: none;
}

#headingbox > #headingbottom {
    display: block;
    
    margin: 1vh 0 0 0;
    border: 0;
    padding: 0;

    width: inherit;
}

#headingbox > #headingbottom > #location_details > li:first-child::before {
    display: inline-block;
    content: url("../images/geopointer.png");

    margin: 0 1.5vw 0 1.75vw;
    border: 0;
    padding: 0;

    vertical-align: middle;
}

/* don't display field names */
#headingbox > #headingbottom > #location_details > li > span.field{
    display: none;
}

#headingbox > #headingbottom > #location_details {
    display: inline-flex;
    flex-direction: horizontal;
    list-style-type: none;

    margin: 0 0 0 1vw;
    border: 0;
    padding: 0;

    vertical-align: middle;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

#headingbox > #headingbottom > #location_details > li {
    line-height: 1.5;
}
#headingbox > #headingbottom > #location_details > li > span.value {
    vertical-align: middle;
}  

#headingbox > #headingbottom > #location_details > li.county > span.value::after{
    content: ",\00a0"
}

#headingbox > #headingbottom > #location_details > li.location > span.value::before{
    content: "\00a0=\00a0"
}








#contentbox {
    display: block;
    position: relative;

    width: 90vw;
    
    margin: 6vh 5vw 15vh 5vw;
    border: 0;
    padding: 0;

    font-family: "Source Sans Pro", sans-serif;
}

#contentbox > #column1 {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;

    width: 45%;

    margin-left: 1.5%;
    border: 0;
    padding: 0;
}

#contentbox > #column1 > #column1_box { 
    display: inline-grid;
    grid-auto-flow: row;
    row-gap: 20px;
    box-sizing: border-box;

    width: 40vw;

    margin: 0;
    border: 0;
    border-radius: 25px;
    padding: 40px;

    background-color: #f1eeee;
}

#contentbox > #column1 > #column1_box > #personal_information {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0;
    border: 0;
    padding: 0;

    background-color: white;

    text-transform: lowercase;
}

#contentbox > #column1 > #column1_box > #personal_information #personal_info_1 {
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    list-style-type: none;

    width: 50%;

    margin: 0;
    border: 0;
    padding: 25px 0 25px 25px;
}

#contentbox > #column1 > #column1_box > #personal_information #personal_info_2 {
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    list-style-type: none;

    max-width: 50%;

    margin: 0;
    border: 0;
    padding: 25px 25px 25px 0;
}

#contentbox > #column1 > #column1_box > #personal_information #personal_info_1 > li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 1em;
}

/* category styling */
#contentbox > #column1 > #column1_box > #personal_information #personal_info_1 > li > span.field {
    flex-basis: 50px;
    margin-right: 10px;
}

#contentbox > #column1 > #column1_box > #personal_information #personal_info_1:empty::before {
    display: block;
    content: "none recorded";
    font-style: italic;
}

#contentbox > #column1 > #column1_box > #personal_information #personal_info_2 > li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 1em;
}

#contentbox > #column1 > #column1_box > #personal_information #personal_info_2 > li > span.value::before {
    content: "\00a0\00a0";

}




#contentbox > #column1 > #column1_box > #additional_info {
    display: block;
    list-style-type: none;
    line-height: 25px;
    margin: 0;
    border: 0;
    padding: 0 1.5vw 0.5vh 1.5vw;
}

#contentbox > #column1 > #column1_box > #additional_info > li > span.field {
    text-transform: lowercase;
    font-style: italic;
}

#contentbox > #column1 > #column1_box > #additional_info li.null {
    display: none;
}


#contentbox > #column1 > #column1_box > #occupation_information {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    box-sizing: border-box;

    margin: 0;
    border: 0;
    padding: 0 25px;

    width: 100%;

    background-color: white;

   
}

#contentbox > #column1 > #column1_box >  #occupation_information > li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    vertical-align: middle;

    margin: 0;
    border: 0;
    padding: 10px 0;
}

/* padding top and bottom */
#contentbox > #column1 > #column1_box >  #occupation_information > li:first-child {
    margin-top: 25px;
}
#contentbox > #column1 > #column1_box >  #occupation_information > li:last-child {
    margin-bottom: 25px;
} 

/* category styling */
#contentbox > #column1 > #column1_box >  #occupation_information > li > span.field {
    flex-basis: 150px;
    margin-right: 10px;
    text-transform: lowercase;
}

#contentbox > #column1 > #column1_box > #occupation_information > li:empty {
    display: none;
  }

#contentbox > #column1 > #column1_box >  #occupation_information > li.occupation_original {
    display: none;
}

#contentbox > #column1 > #other_information {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    box-sizing: border-box;

    width: 40vw;

    margin: 2vh 0;
    border: 0;
    border-radius: 25px;
    padding: 0 25px;
    background-color: #f1eeee;
}

#contentbox > #column1 > #other_information > li {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 15px 0;
    vertical-align: middle;
}

#contentbox > #column1 > #other_information > li > span.field {
    flex-basis: 140px;
    margin: 0 5px 0 10px;
    text-transform: lowercase;
}

#contentbox > #column1 > #other_information > li.partial_transcription > span.field {
    flex-basis: 140px;
    margin-right: 35px;
}

#contentbox > #column1 > #other_information > li.partial_transcription > span.value {
    border-radius: 25px;
    padding: 25px;
    background-color: white;
}

/* top and bottom padding */
#contentbox > #column1 > #other_information > li:first-child {
    margin-top: 25px;
}

#contentbox > #column1 > #other_information > li:last-child{
    margin-bottom: 25px;
}

#contentbox > #column1 > #notes {
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    list-style-type: none;

    width: fit-content;
    max-width: 38vw;

    margin: 6vh 0 0 1vw;
    border: 0;
    padding: 0;

    text-transform: lowercase;
    font-style: italic;
}



#contentbox > #column2 { 
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;

    width: 47.5%;

    margin-left: 5%;
    border: 0;
    padding: 0;
}

#contentbox > #column2 > #record_box {
    display: block;

    margin-bottom: 15px;

    background-color: #f1eeee;
}

#contentbox > #column2 > #record_box > #record_information {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    box-sizing: border-box;

    width: inherit;
    max-width: 43vw;
    
    margin: 0;
    border: 0;
    padding: 4vh 3vw 4vh 3vw;
}

#contentbox > #column2 > #record_box > #record_information > li {
    display: flex;
    align-items: flex-start;
    width: 100%;
    vertical-align: middle;
   
}

#contentbox > #column2 > #record_box > #record_information > li > span.field {
    flex-basis: 140px;
    margin-right: 10px;
    line-height: 45px;
    text-transform: lowercase;
}

#contentbox > #column2 > #record_box > #record_information > li.record_id > span.value{
    text-transform: lowercase;
}

/* record border + padding */
#contentbox > #column2 > #record_box > #record_details_1:not(:empty)::before {
    display: block;
    content: "";
    position: relative;
    left: 7%;

    width: 86%;
    height:2px;
    margin-bottom: 3vh;

    background-color: gray;
}

#contentbox > #column2 > #record_box > #record_details_1 > li:last-child {
    margin-bottom: 25px;
}

#contentbox > #column2 > #record_box > #record_details_1 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    box-sizing: border-box;

    width: inherit;
    max-width: 43vw;
    
    margin: 0;
    border: 0;
    padding: 0 3vw;
}

#contentbox > #column2 > #record_box > #record_details_1 > li {
    display: flex;
    align-items: flex-start;
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
}

#contentbox > #column2 > #record_box > #record_details_1 > li > span.field {
    flex-basis: 140px;
    margin-right: 10px;
    text-transform: lowercase;
}

#contentbox > #column2 > #record_box > #record_details_1 > li > span.value {
    min-width: fit-content;
    max-width: 75%;
}

/* record border + padding */
#contentbox > #column2 > #record_box > #record_details_2:not(:empty)::before {
    display: block;
    content: "";
    position: relative;
    left: 7%;

    width: 86%;
    height:2px;
    margin-bottom: 3vh;

    background-color: gray;
}

#contentbox > #column2 > #record_box > #record_details_2 > li:last-child {
    margin-bottom: 25px;
}

#contentbox > #column2 > #record_box > #record_details_2 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    box-sizing: border-box;

    width: inherit;
    max-width: 43vw;
    
    margin: 0;
    border: 0;
    padding: 0 3vw;
}

#contentbox > #column2 > #record_box > #record_details_2 > li {
    display: flex;
    
    align-items: flex-start;
    max-width: 100%;

    line-height: 40px;
    vertical-align: middle;
}

#contentbox > #column2 > #record_box > #record_details_2 > li.Link_to_source > span.value {
    position: relative;
    left: 10px;
    overflow-wrap: break-word;
}

#contentbox > #column2 > #record_box > #record_details_2 > li.null {
    display: none;
}

#contentbox > #column2 > #record_box > #record_details_2 > li > span.field {
    margin-right: 10px;

    text-transform: lowercase;
}

#contentbox > #column2 > #record_box > #record_details_2 > li > span.value {
    display: inline;
    width: fit-content;
    max-width: 75%;
    text-transform: lowercase;
}


#contentbox > #column2 > #other_people_fields {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    box-sizing: border-box;
    
    margin: 0;
    border: 0;
    padding: 0 3vw;

    background-color: #f1eeee;
}

/* only display standardized */
#contentbox > #column2 > #other_people_fields > li.Enslaver_full_original, #contentbox > #column2 > #other_people_fields > li.Emancipator_full_original,
#contentbox > #column2 > #other_people_fields > li.Security_full_original, #contentbox > #column2 > #other_people_fields > li.Estate_full_original,
#contentbox > #column2 > #other_people_fields > li.Administrator_full_original, #contentbox > #column2 > #other_people_fields > li.Buyer_full_original,
#contentbox > #column2 > #other_people_fields > li.Heir_full_original {
    display: none;
}

#contentbox > #column2 > #other_people_fields  > li {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 1vh 0;
    vertical-align: middle;
}

#contentbox > #column2 > #other_people_fields  > li > span.field {
    flex-basis: 140px;
    margin-right: 10px;
}

#contentbox > #column2 > #other_people_fields  > li > span.field {
    text-transform: lowercase;
}

/* top and bottom padding */
#contentbox > #column2 > #other_people_fields > li:first-child {
    margin-top: 3vh;
}

#contentbox > #column2 > #other_people_fields > li:last-child {
    margin-bottom: 3vh;
}

.original_popup {
    position: relative;
    margin-left: 15px;
}

.original_popup .icon {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;

    margin: 0;
    border: 0;
    padding: 0;

    background-image: none;
    z-index: 2;
}
.original_popup .icon img {
    width: 100%;
    height: 100%;
  }

.original_popup .popup_info {
    display: none;
    position: absolute;
    bottom: 150%;
    left: -350%;

    width: fit-content;

    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;

    background-color: #fff;

    z-index: 3; 
}
.original_popup:hover .popup_info {
    display: flex;
    cursor: pointer;
}

.original_popup .popup_info > span.value {
    white-space: nowrap
}

.original_popup .popup_info > span.value::before {
    content: "\00a0";
}
