@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Black.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Black.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-BlackIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-BlackIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-BoldIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-BoldIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-It.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-It.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-LightIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-LightIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Bold.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Bold.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Light.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Light.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-ExtraLightIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-ExtraLightIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-ExtraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-ExtraLight.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-SemiboldIt.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-SemiboldIt.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Regular.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Regular.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../source-sans-pro/SourceSansPro-Semibold.woff2') format('woff2'),
        url('../source-sans-pro/SourceSansPro-Semibold.woff') format('woff'),
        url('../source-sans-pro/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}






/* MAIN PAGE STYLING */



#content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100vw;

    font-family: "Source Sans Pro", sans-serif;
}

#SLIDE {
    display: block;
    position: relative;
    left: -2vw;
    margin-bottom: 3vh;

    max-width: fit-content;
    background-color: #A51516;

    padding: 3.5vh 3.5vw;

    font-family: "Libre Baskerville", serif;
    font-size: 150%;
    font-style: normal;
    color: white;
}

/* SEARCH */   
.search{
    /* container */
    display: block;
    position: relative;
    box-sizing: border-box;

    width: 90vw;
    height: 15vh;
    
    margin: 0 5vw;
    border: 0;
    padding: 0;
}


.search #searchlabel {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    top: 0;
    left: 0;
   
    width: auto;
    height: 10vh;
    line-height: 10vh;

    margin: 0;
    border: 0;
    padding-right: 2em;

    font-family: "Libre Baskerville", serif;
    font-size: 200%;
    font-variant: normal;
    font-weight: 600;

}

.search #searchbox {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    top: 0;
    right: 0;

    width: 80vw;
    height: 10vh;

    margin: 0;
    border: 15px solid #f1eeee;
    padding: 1em 1.5em 1em 1.3em;
   
    direction: ltr;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 150%;
}

.search #selectfilters{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    top: 10vh;
    left: 10vw;

    width: max-content;
    height: auto;

    margin-top: 1vh;
    border: 0
}

.search #selectfilters #querytermblock{
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 7px;
    justify-content: flex-start;

    vertical-align: middle;

    width: 80vw;
    height: inherit;

    border: 0;
}

.search #selectfilters #querytermblock .queryfq {
    flex: 0 0 auto;
    
    box-sizing: border-box;

    vertical-align: middle;

    height: inherit;
    line-height: 1.5em;

    margin-right: 0.5vw;
    border: 0;
    padding: 5px 18px;
    background-color: #f1eeee;

    font-family: "Source Sans Pro", sans-serif;
    text-transform: lowercase;

    cursor: pointer;
}

.search #selectfilters #querytermblock span.queryfq:hover:after {
    position: relative;

    content: "x";
    width: 0.5em;

    bottom: 7px;
    left: 8px;
    font-weight: bold;
    color: black;
}

.search #selectfilters #querytermblock > .queryterm {
   
    margin: 0.75vh 0 0 0;
    border: 0;
    padding-right: 1vw;

    text-transform: lowercase;
    cursor: pointer;
}

.search #selectfilters #querytermblock span.queryterm:hover:after {
    position: relative;

    content: "x";
    width: 0.5em;

    bottom: 7px;
    left: 8px;
    font-weight: bold;
    color: black;

}

/* FILTER RESULT BOX */

.filter-result{
    margin: 5vh 5vw;
}

/* FACETS             */                

.filter {
    display: inline-grid;
    grid-column-start: auto;
    position: relative;
    box-sizing: border-box;
    width: 30vw;
    margin: 0;
    border: 0;
    border-radius: 25px;
    padding: 0;
    background-color: #f1eeee;
}

.filter #filterlabel {
    vertical-align: middle;
    width: inherit;
    margin: 0;
    border: 0;
    padding: 35px 0 0 40px;

    font-family: "Libre Baskerville", serif;
    font-size: 150%;
    font-variant: normal;
    font-weight: 600;
}


.filter #facetbox {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    width: inherit;

    margin: 0 2vw 1vh 0;
    border: 0;
    padding: 0;

    top: 0;
    left: 0;

    font-family: "Source Sans Pro", sans-serif;
}

#facetbox > ul > li {
    list-style: none;
    
    margin: 0 35px 10px 0;
    border: 0;
    border-radius: 20px;
    padding: 0;

    min-width: 50%;

    background-color: #ffffff;
}

#facetbox > ul > li > span {
    display: inline-block;
   
    width: inherit;

    margin: 0 0 10px;
    border: 0;
    border-radius: 20px;
    padding: 12px 20px 0;
   
    color: #000000;
    font-size: 110%;
    
    cursor: pointer;
}

#facetbox > ul > li.hidden > span::before {
    display: inline-block;
    vertical-align: middle;
    
    content: "▶";
    width: 0.5em;
    
    text-align: right;

    padding-right: 20px;
    
    color: #000000;
    font-weight: bold;
    font-size: 120%;
}

#facetbox > ul > li > span::before {
    display: inline-block;
    vertical-align: text-top;
    
    content: "▼";
    width: 0.5em;
    
    text-align: right;

    padding-right: 20px;
    
    color: #000000;
    font-weight: bold;
    font-size: 120%;
}

#facetbox > ul > li > ul {
    display: flex;
    flex-direction: column;

    margin-right: 10%;
    border: 0;
}
#facetbox > ul > li > ul li:last-child {
    padding-bottom: 15px;
} 

#facetbox > ul > li > ul > li {
    padding-bottom: 1.5%;
}

#facetbox > ul > li.hidden > ul > li{
    padding-bottom: 15px;
} 

#facetbox input[type='checkbox'] {
    display: inline-block;
    vertical-align: middle;

    width: 1em;
}

#facetbox .valuecount  {
    display: flex;
}

#facetbox .hidden ul li.valuecount {
    display: none;
}

#facetbox .hidden ul li.valuecount.checked {
    display: flex;
}


/* RESULTBOX */
#resultbox {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    top: -2vh;
    left: 5vw;
    box-sizing: border-box;
    width: 55vw;
    
    margin: 0;
    border: 0;
    padding: 0;
}

#resultcount{
    display: inline-block;
    margin: 0 0 4vh 0;

    width: fit-content;
    
    font-family: "Libre Baskerville", serif;
    font-size: 3vh;
    font-variant: normal;
    font-weight: bold;
}

  /* RESULT     */
#resultlist {
    display: flex;
    flex-direction: column;
}

#resultlist .record {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    box-sizing: border-box;

    width: 55vw;
    min-height: 38vh;
    height: auto;

    margin-bottom: 2vh;
    border: 0;
    border-radius: 20px;
    padding: 4vh 4vw 2vh 6vw;

    background-color: #e8e8e8;
    word-wrap: break-word;
}

#resultlist > .record > .handle {
    position: absolute;
    top: 0;
    left: 0;

    margin-right: 2vw;

    width: 3vw;
    min-height: 38vh;
    height: 100%;

    border-radius: 20px;

    background-color: #A51516;
}

/* if the data category is empty, don't display */
#resultlist > .record > ul > li.null {
    display: none;
}

/* don't display field name */
#resultlist > .record > ul.name > li.section_start > span.field {
    display: none;
}

#resultlist > .record > ul.name {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    position: relative;

    vertical-align: middle;

    width: 17vw;
    height: fit-content;
    
    margin: 0;
    border: 0;
    padding: 0 0 2vh 0;

    font-family: "Libre Baskerville", serif;
    font-size: 210%;
    font-variant: normal;
    font-weight: normal;

    overflow: hidden;
    line-height: 1em;
}

/* partial underline under names */
#resultlist > .record > ul.name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 5px; 
    border-radius: 25px;
    background-color: #000000;
} 

#resultlist > .record > ul.personal_information {
    display: inline-grid;
    grid-auto-flow: column;
    list-style-type: none;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    box-sizing: border-box;
    column-gap: 0;
    position: absolute;
    right: 16vw;

    max-width: 15vw;
    width: fit-content;
    height: fit-content;

    margin: 0 0 0 2vw;
    border: 0;
    padding: 0 15px;

    background-color: #f1eeee;

    text-transform: lowercase;
    white-space: nowrap;
}

#resultlist > .record > ul.personal_information > li {
    position: relative;

    margin: 0;
    border: 0;
    padding: 7px 10px;

    font-weight: 600;
}
#resultlist > .record > ul.personal_information > li:not(:first-child)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20%;
    transform: translate(-50%, 0);
    vertical-align: middle;
    height: 65%;
    width: 1.5px;
    background-color: #000000;
  }

#resultlist > .record > ul.personal_information > li > span.field{
    display: none;
}

#resultlist > .record > ul.status{
    display: inline-block;
    list-style-type: none;
    position: absolute;
    right: 4vw;
    box-sizing: border-box;
    text-align: left;

    width: fit-content;
    height: fit-content;

    margin: 0;
    border: 0;
    padding: 7px 18px;

    background-color: #f1eeee;

    text-transform: lowercase;
    font-weight: 600;
    white-space: nowrap;
}

#resultlist > .record > ul.status > li.recorded_status {
    display: inline;
}

#resultlist > .record > ul.status > li.recorded_status > span.value::before{
    content: "status: ";
}

#resultlist > .record > ul.status > li.recorded_status > span.field{
    display: none;
}

#resultlist > .record > ul.record_information {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style-type: none;
    align-items: flex-start;
    box-sizing: border-box;

    width: 45vw;
    height: fit-content;

    margin: 3vh 0 0 0;
    border: 0;
    padding: 2.5vh 2vw;

    background-color: #f1eeee; 
    line-height: 1.75em;
}

#resultlist > .record > ul.record_information > li{
    display: flex;
    align-items: center;
    width: 100%;
    vertical-align: middle;

}

/* record info category styling */
#resultlist > .record > ul.record_information > li > span.field {
    flex-basis: 100px;
    margin-right: 10px;
}

#resultlist > .record > ul.record_information > li.record_id > span.value {
    text-transform: lowercase;
}


#resultlist > .record > ul.other_information {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 10px;
    list-style-type: none;
    position: relative;

   

    width: fit-content;
    max-width: 80%;
    height: fit-content;

    margin: 2vh 0 1vw 0;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

#resultlist > .record > ul.other_information > li {
    display: inline;
 
    margin: 0;
    border: 0;
    padding: 7px 20px;

    background-color: #f1eeee;
    text-transform: lowercase;
}

/* lowercase occcupation values */
#resultlist > .record > ul.other_information > li.Emancipator_full_standardized > span.value,
#resultlist > .record > ul.other_information > li.Enslaver_full_standardized > span.value {
    text-transform: none;
}

#resultlist > .record > ul.other_information > li.null {
    display: none;
}

.addbutton {
    display: inline-block;
    position: absolute;
    bottom: 3vh;
    right: 4vw;

    width: 42px;
    height: 42px; 

    margin: 0;
    border: 0;
    padding: 0;


    background-image: url("../images/addbutton.png");
    background-color: #e8e8e8;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }

/* PAGINATION      */

#pagination_top {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;

    text-align: center;
    vertical-align: middle;

    max-width: 50%;

    margin: 0;
    border: 0;
    padding: 0;

    font-size: 110%;

   
    cursor: pointer;
}

#pagination_top span.currentpage {
    margin: 0 15px;
    font-weight: 600;
}

#pagination_top span {
    margin: 0 5px;

}

#pagination_bottom {
    margin: 0;
    padding: 0;
   
    text-align: center;
    
    font-size: 120%;

    cursor: pointer;
}

#pagination_bottom span.currentpage {
    font-weight: 600;
}

#pagination_bottom span {
    display: inline-block; 

    margin: 0 5px;
    border: 0;
    padding: 0;

    min-width: 2em;
    text-align: center;
}

#pagination_top .current, #pagination_bottom .current {
    background-color: #f1eeee;
    padding: 3px 4px;
 
}

#pagination_top .inactive, #pagination_bottom .inactive {
    color: #A0A0A0;
}
