<script language="Javascript" type="text/javascript">
 
const interval = setInterval(function() {
    if(document.readyState === 'complete') {
        clearInterval(interval);
        setframe();
    }
}, 100);


function setframe() {
    let sitesparams = new URLSearchParams(window.location.search);
    const term = sitesparams.get("term");
    const start = sitesparams.get("start");
    const fqs = sitesparams.getAll("fq");
    const frame = document.getElementById("searchframe");
    let params = new URLSearchParams();
    if (term) {
        params.append('term', term);
    }
    if (start) {
        params.append('start', start);
    }
    for (var i in fqs) {
         let value = fqs[i];
         params.append('fq', value);
    };
    const newframesrc = "https://ada.artsci.wustl.edu/interface_enslavementdb/?" +
          params.toString();
    frame.src = newframesrc;
}

function updateParams(newparams) {
    let sitesparams = new URLSearchParams(window.location.search);
    if (newparams.get('term')) {
        sitesparams.set('term', newparams.get('term'))
    } else {
        sitesparams.delete('term')
    }
    if (newparams.get('start')) {
        sitesparams.set('start', newparams.get('start'))
    } else {
        sitesparams.delete('start')
    }
    sitesparams.delete('fq')
    if (newparams.get('fq')) {
        const fqs = newparams.getAll("fq");
        for (var i in fqs) {
            let value = fqs[i];
            sitesparams.append('fq', value);
        }
    } 
    let newurl = window.location.href.replace(window.location.search, '')
        .replace(/\?$/, '');
    if (sitesparams.toString() !== '') {
        newurl += "?" + sitesparams.toString()
    };
    history.pushState({}, '', newurl);
}

window.onmessage = function(event){
    if (event.origin === "https://ada.artsci.wustl.edu") {
        let newparams = new URLSearchParams(event.data);
        updateParams(newparams);
    }

};




</script>
<iframe id="searchframe" width="100%" height="2015" frameborder="0" src="https://ada.artsci.wustl.edu/interface_enslavementdb/loading.html"></iframe>

